.card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 2rem;
    background-color: var(--bg-surface);
}

.card img{
    width: 20rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 2rem 2rem 0 0;
}
.card h2{
    text-align: center;
    padding: 2rem;
}