.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;

  background-color: var(--grigio-chiaro);
  color: var(--scuro);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;

  width: fit-content;
  height: 100vh;

  padding: 3rem;

  .profile div {
    font-size: 2rem;
  }
  .ul-part {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }

  .link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  .link img {
    width: 2rem;
    height: auto;
  }
  .link-text {
    text-decoration: none;
    color: var(--scuro);
    position: relative;
  }

  .link-text::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    bottom: -0.2rem;
    left: 0;
    background-color: var(--scuro);

    transform: scaleX(0);
    transform-origin: center;

    transition: transform 0.1s ease-in;
  }

  .link-text:hover::after {
    transform: scaleX(1);
  }
}
