.navbar {
  font-weight: 600;
  background-color: var(--bg-surface);
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  min-width: 50px;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}


.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar li {
  width: 100%;
}

.navbar .link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  box-sizing: border-box;
  transition: all 0.2s ease-in;
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-primary);
  opacity: 0.9;
}

.navbar .link img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  filter: invert(1);
}

.navbar .link:hover {
  background: var(--gradient-glow);
  box-shadow: var(--shadow-glow);
  opacity: 1;
}