.navbar {
  font-weight: 600;
  background-color: var(--bg-surface);
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
  width: fit-content;
  min-width: 250px;
  height: 100vh;
  padding: 3rem;
  box-sizing: border-box;

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  li {
    width: 100%;
  }
  .link {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    box-sizing: border-box;
    transition: all 0.2s ease-in;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-primary);
  }

  .link img {
    width: 2rem;
    height: auto;
    filter: invert(1);
  }

  .link:hover {
    background: var(--gradient-glow);
    box-shadow: var(--shadow-glow);
  }

  .link:not(.link:hover) {
    filter: opacity(0.9);
  }
}
