.card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1rem;
    background-color: var(--bg-surface);
    transition: transform 0.1s ease-in;
    color: var(--text-primary);
}

.card img{
    width: 20rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 2rem 2rem 0 0;
}
.card h2{
    padding: 2rem;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: var(--shadow-glow);
}