.root-layout {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 3rem;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  font-family: "Inter", sans-serif;
}
